			<footer>&copy 2017 Brad Jensen</footer>
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="scripts/scripts.js"></script>
		</body>
	</html> 