<% include partials/header %>

			<div class="add_btn"><a href="new"><button>New List</button></a></div>
			<h1>Brad's To Do List</h1>
			
			<ul>
				<li class="todo" onclick="alert('Hi')">To do item one</li>
				<li class="todo">To do item two</li>
				<li class="todo">To do item three</li>
				<li class="todo">To do item four</li>
			</ul>
	
<% include partials/footer %>